<div class="buttonBar bottomNavBar">
    <ul>
        <li><a onclick="openTab('tab', 'standard')">Standard</a></li>
        <li><a onclick="openTab('tab', 'optimization')">Optimizations</a></li>
        <li><a onclick="openTab('tab', 'processor')">Processor</a></li>
        <li><a onclick="openTab('tab', 'compile')">Compile</a></li>
    </ul>
</div>
<div class="tabContainer">
    <form id="compileForm">
        {% csrf_token %}
        <div id="standard" class="tab">
            {{ compile_form.standard }}
        </div>
        <div id="optimization" class="tab">
            {{ compile_form.optimization }}
        </div>
        <div id="processor" class="tab">
            {{ compile_form.processor }}
        </div>
        <div id="compile" class="tab">
            <button type="button" onclick="compile()">Compile</button>
        </div>
    </form>
</div>
